<!DOCTYPE html>
<html>
  <head>
    <title>Rutgers Virtual Flyers</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <h1>Rutgers Virtual Flyers</h1>
        </div>
      </div>
    </nav>
    {{{body}}}
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  </body>
</html>
