<!DOCTYPE html>
<html>
  <head>
    <title>Rutgers Virtual Flyers</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Chivo:400,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
  </head>
  <body>
    
    {{{body}}}
  </body>
</html>
