<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link rel="stylesheet" href="../public/css/welcome.css">
  <title></title>

<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
  <nav class="navbar-fixed transparent">
    <div class="nav-wrapper" id="yelp-nav">
      <ul id="nav-mobile" class="right">
        <li><a href="#">Welcome, {{name}}</a></li>
      </ul>
      <form action="/yelp" method="POST">
        <div class="row" id="yelp-search">
          <div class="input-field col s4 offset-s1 white-text">
            <input id="find" type="text" class="validate" name="find" required="true">
            <label class="white-text" for="find">Find:</label>
          </div>
          <div class="input-field col s2">
            <button class="btn waves-effect waves-light" type="submit">Search
            </button>
          </div>
        </div>
      </form>
    </div>
  </nav>

  <div class="fixed-action-btn vertical click-to-toggle" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large" id="btn-menu">
      <i class="large mdi-navigation-menu"></i>
    </a>
    <ul>
      <li><a class="btn-floating green" href="/profile/{{name}}" value="{{name}}"><i class="material-icons">perm_identity</i></a></li>
      <li><a class="btn-floating red" href="/welcome"><i class="material-icons">language</i></a></li>
      <li><a class="btn-floating yellow darken-1" href="/yelp"><i class="material-icons">search</i></a></li>
      <li><a class="btn-floating blue" href="/logout"><i class="material-icons">replay</i></a></li>
    </ul>
  </div>
  <div id="page-border">
    <div class="container">

      <div class="divider"></div>

      {{{body}}}

    </div>
  </div>
</body>

<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<script src="../public/javascripts/yelp.js"></script>


</html>
