<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link rel="stylesheet" href="../public/css/yelp.css">
  <title></title>

</head>

<body>
  <nav>
    <div class="nav-wrapper" id="yelp-nav">
      <a href="#" class="brand-logo" id="yelp-logo">SignPost</a>
      <form action="/yelp" method="POST">
        <div class="row" id="yelp-search">
          <div class="input-field col s4 offset-s3 black-text">
            <input id="find" type="text" class="validate" name="find" required="true">
            <label for="find">Find:</label>
          </div>
          <div class="input-field col s2">
            <button class="btn waves-effect waves-light" type="submit">Search
            </button>
          </div>
        </div>
      </form>
    </div>
  </nav>
  <header>
    <div class="row" id="sort">

    </div>
  </header>
  <div class="fixed-action-btn vertical click-to-toggle" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large" id="btn-menu">
      <i class="large mdi-navigation-menu"></i>
    </a>
    <ul>
      <li><a class="btn-floating red" href="/welcome"><i class="material-icons">perm_identity</i></a></li>
      <li><a class="btn-floating yellow darken-1" href="/yelp"><i class="material-icons">search</i></a></li>
      <li><a class="btn-floating green" href="/"><i class="material-icons">info_outline</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul>
  </div>
  <div id="page-border">
    <div class="container">

      <div class="divider"></div>
      {{first}}
      {{{body}}}

    </div>
  </div>
</body>

<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<script src="../public/javascripts/yelp.js"></script>


</html>
