<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link rel="stylesheet" href="../public/css/yelp.css">
  <title></title>

</head>

<body>
  <nav>
    <div class="nav-wrapper black">
      <a href="#!" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="badges.html"><i class="material-icons right">view_module</i>Link with Right Icon</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
  <form action="/yelp" method="POST">
    <div class="row" id="yelp-search">
      <div class="input-field col s4 offset-s3">
        <input id="find" type="text" class="validate" name="find" required="true">
        <label for="find">Find</label>
      </div>
      <div class="input-field col s2">
        <button class="btn waves-effect waves-light black" type="submit">Search
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </form>
  <div class="divider"></div>
    <div class="row">
        {{{body}}}
  </div>
</div>

</body>

<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<script src="../public/javascripts/maps.js"></script>

</html>
