  <header>
    <!-- NAVBAR -->
    <nav>
      <div class="nav-wrapper red darken-4">
        <a href="#!" class="brand-logo">Rutgers Reviews </a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a class=" modal-trigger" href="#modal1">Login</a></li>
          <li><a class=" modal-trigger" href="#reg-modal">Register</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="">About</a></li>
          <li><a href="">Login</a></li>
          <li><a href="">Register</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <main>
    <img class="background-img responsive-img" src="https://cdn0.vox-cdn.com/thumbor/nD2noPpC7SeIf0bHAZ9AKlDXBsc=/0x19:3845x2582/1310x873/cdn0.vox-cdn.com/uploads/chorus_image/image/46280356/usa-today-8062233.0.jpg">

    <div class="section" id="index-banner">
      <div class="container">
        <br><br>
          <h1 class="header center white-text">WELCOME TO RUTGERS REVIEWS </h1>
            <div class="row center">
              <h5 class="header col s12 light">Find great places around Rutgers and see their reviews</h5>
            </div>
            <div class="row center">
              <a href="/non-register" id="download-button" class="btn-large waves-effect waves-light red darken-4">Get Started</a>
            </div>
            <div class="row center">
              <h3 id="msg">{{msg}}</h3>
            </div>
      </div>
    </div>

    <!-- Login Modal Structure -->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Login</h4>
        {{msg}}
        <div class="row">
          <form action="/login" class="col s12" method="post">
            <div class="row">
              <div class="input-field col s6 offset-s3">
                <i class="material-icons prefix">email</i>
                <input class="validate" id="email" name="username" type="text"> <label for="username">Username</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6 offset-s3">
                <i class="material-icons prefix">lock</i>
                <input class="validate" id="password" name="password" type="password"> <label for="password">Password</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s4 offset-s5">
                <button class="btn waves-effect waves-light" type="submit" name="action">Log in
                  <i class="material-icons right"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Register Modal Structure -->
    <div id="reg-modal" class="modal">
      <div class="modal-content">
        <h4>Register</h4>
        <div class="row">
          <form action="/save" class="col s12" method="post">
            <div class="row">
              <div class="input-field col s6 offset-s3">
                <i class="material-icons prefix">info_outline</i>
                <input class="validate" id="firstname" name="firstname" type="text"> <label for="firstname">First Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6 offset-s3">
                <i class="material-icons prefix">info_outline</i>
                <input class="validate" id="lastname" name="lastname" type="text"> <label for="Last Name">Last Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6 offset-s3">
                <i class="material-icons prefix">mail</i>
                <input class="validate" id="email" name="email" type="text"> <label for="email">Email</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6 offset-s3">
                <i class="material-icons prefix">perm_identity</i>
                <input class="validate" id="username" name="username" type="text"> <label for="username">Username</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6 offset-s3">
                <i class="material-icons prefix">lock</i>
                <input class="validate" id="password" name="password" type="password"> <label for="password">Password</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s4 offset-s5">
                <button class="btn waves-effect waves-light" type="submit" name="action">Sign Up
                  <i class="material-icons right"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
            
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
  <script type="text/javascript" src="/js/home.js"></script>
