<form action="/login" method="POST">
  <div class="col s8  offset-s2 ">
    <div class="input-field col s8 black-text">
      <input type="text" required="true" id="exampleInputEmail1" name="username" class="validate">
      <label for="username">Username</label>
    </div>
  </div>
  <div class="col s8  offset-s2 ">
    <div class="input-field col s8  black-text">
      <input type="password" id="exampleInputPassword1" name="password" required="true" class="validate">
      <label for="password">Password</label>
    </div>
  </div>
</form>
