<!-- {{msg}}

<div class="row center">
  <div class="col s12 m8">
    <h5 id="register-title"> Sign Up It’s free and always will be.</h5>
    <form action="/save" method="POST">
      <div class="input-field col s6 m4 black-text">
        <input type="text" name="firstname" class="validate" required="true">
        <label for="firstname">First Name</label>
      </div>
      <div class="input-field col s6 m4  black-text">
        <input type="text" class="validate" required="true" name="lastname">
        <label for="lastname">Last Name</label>
      </div>
      <div class="input-field col s12 m8 black-text">
        <input type="text" class="validate" required="true" name="email">
        <label for="email">Email</label>
      </div>
      <div class="input-field col s12 m8 black-text">
        <input type="text" class="validate" required="true" name="username">
        <label for="username">User Name</label>
      </div>
      <div class="input-field col s12 m8 black-text">
        <input type="password" class="validate" required="true" name="password" />
        <label for="password">Password</label>
      </div>
      <div class="input-field col s12 m8">
        <button class="btn waves-effect waves-light id white" type="submit">Sign up!
      </div>
    </form>
  </div>
</div> -->
