<div class="row">
  <div class="fullscreen slider">
  <ul class="slides">
    <li>
      <img src="../public/images/food.jpg"> <!-- random image -->
      <div class="caption center-align">
        <form action="/yelp" method="post">
          <button class="splash "href="/yelp" name="find" value="restaurants" ><h3>Hungry?</h3>
          <h5 class="light grey-text text-lighten-3">We'll serve up the best places in town.</h5></button>
        </form>
      </div>
    </li>
    <li>
      <img src="../public/images/nightlife.jpg"> <!-- random image -->
      <div class="caption left-align">
        <form action="/yelp" method="post">
          <button class="splash "href="/yelp" name="find" value="bars nightlife"><h3>Looking for Night Out</h3>
          <h5 class="light grey-text text-lighten-3">We got you covered!.</h5></button>
        </form>
      </div>
    </li>
    <li>
      <img src="../public/images/entertainment.jpg"> <!-- random image -->
      <div class="caption right-align">
        <form action="/yelp" method="post">
          <button class="splash "href="/yelp" name="find" value="entertainment"><h3>Get Out There and Explore</h3>
          <h5 class="light grey-text text-lighten-3">Find some local activites!.</h5></button>
        </form>
      </div>
    </li>
    <li>
      <img src="../public/images/mall.jpg">> <!-- random image -->
      <div class="caption center-align">
        <form action="/yelp" method="post">
          <button class="splash "href="/yelp" name="find" value="shopping"><h3>Lets go Shopping!</h3>
          <h5 class="light grey-text text-lighten-3">Find local shopping spots!.</h5></button>
        </form>
      </div>
    </li>
  </ul>
</div>
</div>
