<div class="row">
  <div class="fullscreen slider">
  <ul class="slides">
    <li>
      <img src="../public/images/food.jpg"> <!-- random image -->
      <div class="caption center-align">
        <form action="/yelp" method="post">
          <a href="/yelp" name="find" value="restaurants" ><h3>Hungry?</h3>
          <h5 class="light grey-text text-lighten-3">We'll serve up the best places in town.</h5></a>
        </form>
      </div>
    </li>
    <li>
      <img src="../public/images/nightlife.jpg"> <!-- random image -->
      <div class="caption left-align">
        <h3>Looking for Night Out</h3>
        <h5 class="light grey-text text-lighten-3">We got you covered!.</h5>
      </div>
    </li>
    <li>
      <img src="../public/images/entertainment.jpg"> <!-- random image -->
      <div class="caption right-align">
        <h3>Plan a day</h3>
        <h5 class="light grey-text text-lighten-3">Find some local activites!.</h5>
      </div>
    </li>
    <li>
      <img src="../public/images/mall.jpg">> <!-- random image -->
      <div class="caption center-align">
        <h3>Lets go Shopping!</h3>
        <h5 class="light grey-text text-lighten-3">Find the closets malls!.</h5>
      </div>
    </li>
  </ul>
</div>
</div>
