body{
  background-image:url("https://s3-us-west-2.amazonaws.com/asset.plexuss.com/college/logos/Rutgers_University_New_Brunswick.png");
  background-size:500px 500px;
  background-repeat: no-repeat;
  background-position: 50% 0%;
}